@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* General Section */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --SoftBlue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --MainBG: hsl(217, 54%, 11%);
    --CardBG: hsl(216, 50%, 16%);
    --Line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--MainBG);
}

img {
    display: block;
    max-width: 100%;
}

cite {
    text-decoration: none;
    font-style: normal;
    color: var(--SoftBlue);
}

cite > span {
    color: var(--White);
}

cite > span:hover {
    cursor: pointer;
    color: var(--Cyan);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 100dvh;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: var(--CardBG);
    border-radius: 10px;
}

/* Hero Section */

#heroImage {
    width: 325px;
    height: 325px;
    margin: 0.5rem auto;
    padding: 1.10rem;
    border-radius: 30px;
}

#image {
    position: relative;
}

#image div:hover{
    opacity: 1;
    cursor: pointer;
    border-radius: 0.625rem;
}

#image div img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#image div {
    position: absolute;
    background-color: hsla(178, 100%, 50%, 0.3);
    top: 0;
    opacity: 0;
    width: 88.5%;
    height: 85.5%;
    margin: 1.5rem 1rem 0 1rem ;
}

#heroText {
    width: 85%;
    text-align: left;
}

#heroText > h1 {
        font-size: 20px;
        font-weight: 600;
        color: var(--White);
        margin: 0.25rem auto;

}

#heroText > h1:hover {
    cursor: pointer;
    color: var(--Cyan);
}

#heroText > p { 
    font-size: 18px;
    font-weight: 300;
    margin: 0.75rem auto;
    padding: 0.5rem 0;
    color: var(--SoftBlue);
}

/* Price and Time Section */

#price,
#time,
#priceCheck{
    display: flex;
    
}

#priceCheck {
    width: 85%;
    justify-content: space-between;
    border-bottom: 1px solid var(--Line);
    padding: 1rem 0 1.25rem 0;
}

#priceImage,
#timeImage {
    margin-right: 0.5rem;
}

#price {
    color: var(--Cyan);
    font-weight: 600;
    width: 100%;
}

#time {
    color: var(--SoftBlue);
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* Author Section */

#authorNotes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 85%;
    padding: 1rem 0 2rem 0;
}

#author {
    display: inline;
    width: 1.875rem;
    margin-right: 1rem;
    border: 1px solid var(--White);
    border-radius: 50%;
}

/* Media Queries */

@media screen and (min-width: 768px) {
    .cardContainer {
        max-width: 45%;
    }
}

@media screen and (min-width: 900px) {
    .cardContainer {
        max-width: 22.188rem;
    }
}